.content-row {
    margin-top: 10px;
    width: 100%;
    min-height: 85vh;
    background-color: #fff;
    border-radius: 10px;
    padding: 0;
    display: flex;
}

.current-content {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}


.current-tab {
    display: flex;
}


button.back-button {
    background-image: url("../assets/arrow-left.svg");
    color: #ff868e;
    background-color: #fbe0dc;
    border-radius: 10px;
    border-color: transparent;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}

button.back-button:hover {
    background-color: #ff868e;
    background-image: url("../assets/arrow-left-hover.svg");
}

div.tab-name {
    text-align: center;
    background-color: #ff868e;
    border-radius: 10px;
    height: 30px;
    width: 140px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 15px;
}